@page "/DeleteTickets"
@page "/DeleteTickets/ticketId={ticketId:int}"
@* @rendermode InteractiveServer *@
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<PageTitle>Eliminar Ticket</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Eliminar Ticket</strong></h3>
		</div>
		<div class="card-body col-5">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4"></div>
			<h4><strong>¿Est&aacute;s seguro de que quieres eliminar este ticket?</strong></h4>
			@*Datos*@
			<div class="mb-1">
				<p class="mb-0">TicketId: @ticket.TicketId</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Fecha: @ticket.Fecha</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">SolicitadoPor: @ticket.SolicitadoPor</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Cliente: @ticket.Cliente</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Sistema: @ticket.Sistema</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Descripci&oacute;n: @ticket.Descripcion</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Prioridad: @ticket.Prioridad</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Asunto: @ticket.Asunto</p>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-center">
			<div class="px-2">
				<button type="button" class="btn btn-outline-dark" @onclick="IrAPaginaDestino"><i class="bi bi-box-arrow-left" /> Cancelar</button>
			</div>
			<button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><i class="bi bi-trash3-fill" /> Eliminar</button>
		</div>
	</div>
</div>
@*Mensaje*@
@mensaje

@code {
	[Parameter]
	public int ticketId { get; set; }
	public Tickets ticket { get; set; } = new Tickets();
	public string mensaje { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		if (ticketId > 0)
		{
			ticket = await httpClient.GetFromJsonAsync<Tickets>($"api/Tickets/{ticketId}");
		}
	}

	public async Task Eliminar()
	{
		var response = await httpClient.DeleteAsync($"api/Tickets/{ticketId}");

		if(response.IsSuccessStatusCode)
		{
			mensaje = "El ticket se eliminó con éxito";
		}
		else
			mensaje = "El ticket no se pudo eliminar con éxito";
	}

	void IrAPaginaDestino()
	{
		NavigationManager.NavigateTo("/Tickets");
	}
}
